body{
    background-color: rgb(161, 100, 26);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
input{
    width:40%;
    height:5%;
    border: 1px;
    border-radius: 10px;
    padding:8px 15px 8px 15px;
    margin :10px 0px 15px 0px;
}
